<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloMarkdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>markdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>peg-markdown-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>peg-markdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6334F211130C8AE1000D1180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6334F233130C8B99000D1180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F303BA2515FFB748008E18F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F303BA4315FFB748008E18F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3DB478915FFB8C800FC0AA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
